*{
    padding:0;
    margin:0;
    font-family:sans-serif;

}
body{
    background-color: rgb(250, 250, 250);
}


.gold-btn{
    padding:5px 6px 5px 6px;
    color:rgb(33, 40, 51);
    border-radius:4px;
    text-decoration: none;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
}
.transp-btn{
    background-color:none;
    padding:5px 6px 5px 6px;
    color:rgb(33, 40, 51);
    border-radius:4px;
    text-decoration: none;
    border:0.5px solid rgb(0,0,0,0.07);

}
.header-box{
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    color:black;
background-color: white;
display:flex;
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px;
background-color: rgb(255, 255, 255);
flex-wrap: wrap;
-moz-box-align: center;
align-items: center;
-moz-box-pack: justify;
justify-content: space-between;
}
.header-box .title{
    box-sizing: border-box;
margin: 0px;
min-width: 0px;
font-size: 32px;
color: rgb(30, 35, 41);
margin-left:30px;
}

.header-box .btn-group{
    position:relative;
    right:0;
}