@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@font-face {
    font-family: 'BinancePlex';
    src: url('../static/fonts/font.woff2') format('woff2'), url('myfont.woff') format('woff');
}

html,
body {
    font-family: BinancePlex, Arial, PingFangSC-Regular, 'Microsoft YaHei', sans-serif!important;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body .navbar,
.bottom-nav {
    background-color: rgba(0, 0, 0, 1);
}

.image {
    max-width: 100%;
    height: 30px;
}

a.nav-link,
.white {
    color: white !important;
}

a.dropdown-item,
.navbar-text {
    color: white !important;
}

a.button-navs {
    color: black !important;
}

a.dropdown-item:hover {
    background-color: rgb(45, 45, 45);
}

a:hover {
    color: #f3ba2f !important;
}

.dropdown-menu {
    background-color: rgb(36, 36, 36) !important;
}

.login-container {
    box-sizing: border-box;
    border: 1px solid rgb(209, 209, 209);
    height: max-content;
    width: 400px;
    box-shadow: 1px 1px 20px 1px rgb(192, 192, 192);
}

.login-text {
    text-align: center;
    font-family: 'Recursive', sans-serif;
}

.small-text {
    font-size: 12px;
}

.base-text {
    font-size: 11px;
}

.head-text {
    font-size: 15px;
}

.bg {
    /* The image used */
    background-image: url("../static/pictures/top-bg.png");
    /* Full height */
    height: 40%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36, 36, 36, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diamond-size {
    font-size: 8px;
}

.svg-container:hover {
    box-shadow: 1px 1px 20px 1px rgb(192, 192, 192);
}