<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bitcoin Exchange | Cryptocurrency Exchange | Binance</title>

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/logo/binance_icon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js' integrity='sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css' integrity='sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==' crossorigin='anonymous' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.1/tailwind.min.css' integrity='sha512-BAK6UB671tmfzrkeH1CacTvgHQ3aLAFnT2KsigdATsc5X7+3u42tb5vjmAoDiqtxphP5dNZ3cDygivTsGEJhGw==' crossorigin='anonymous' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md head-text">
        <div class="navbar-brand">
            <div class="mt-1 pt-1">
                <img src="../static/logo/logo-1.png" alt="logo" height="20" class="image mb-2 pl-2" loading="lazy">
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown pr-2 pl-1">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-th"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item py-2 text-sm" href="#">Action 1</a>
                        <a class="dropdown-item py-2 text-sm" href="#">Another action</a>
                        <a class="dropdown-item py-2 text-sm" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown pr-1 pl-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Buy Crypto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Bank Deposit</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Credit/Debit Card</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>P2P Trading</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Third-Party Management</a>
                    </div>
                </li>

                <li class="nav-item pr-1 pl-1">
                    <a class="nav-link" href="#">Markets</a>
                </li>

                <li class="nav-item dropdown pr-1 pl-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Trade
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Convert</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Classic</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Advanced</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Margin</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>P2P</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Stock Token</a>
                    </div>
                </li>

                <li class="nav-item dropdown pr-1 pl-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Derivatives
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>USD$-M Futures</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>COIN-M Futures</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Vanilla Options</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Leveraged Tokens</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Battle</a>
                    </div>
                </li>

                <li class="nav-item dropdown pr-1 pl-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Finance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Binance Earn</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Binance Pool</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Binance Visa Card</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Crypto loans</a>
                        <a class="dropdown-item py-2 text-sm" href="#"><i class="bi bi-suit-diamond-fill text-yellow-400 diamond-size pr-2"></i>Liquid Swap</a>
                    </div>
                </li>
            </ul>
            <div class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item pr-3 mr-1">
                        <a class="nav-link" href="login.html">Log In</a>
                    </li>
                    <li class="nav-item pl-1 pr-2">
                        <a class="nav-link btn btn-sm btn-warning button-navs" href="register.html">Register</a>
                    </li>
                    <li class="nav-item pl-1 pr-2">
                        <a class="nav-link" href="#">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">English</a>
                    </li>
                    <span class="navbar-text">
                            |
                        </span>
                    <li class="nav-item">
                        <a class="nav-link" href="#">USD</a>
                    </li>
                </ul>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </nav>

    <div class="row w-100 ml-0.5 bg">
        <div class="ml-auto mr-auto text-center">
            <h1 class="text-white text-3xl md:text-4xl mt-12">Buy & Sell Crypto in minutes</h1>
            <h2 class="text-gray-400 mt-4 pt-1">Join the world's largest crypto exchange</h2>
            <button type="button" class="btn btn-warning mt-4 pt-1">Register Now</button>
        </div>
    </div>

    <div class="row container-fluid mt-4">
        <div class="col-6 col-md-4 col-lg-3 py-4">
            <img src="../static/pictures/binance.jpeg" class="rounded-md h-36 w-72 ml-16 hover:opacity-75" alt="">
        </div>
        <div class="col-6 col-md-4 col-lg-3 py-3">
            <img src="../static/pictures/binance(2).jpg" class="rounded-md h-36 w-72 ml-10 hover:opacity-75" alt="">
        </div>
        <div class="hidden md:block col col-lg-3 py-3">
            <img src="../static/pictures/binance(3).jpg" class="rounded-md h-36 w-72 ml-3 hover:opacity-75" alt="">
        </div>
        <div class="hidden lg:block col py-3">
            <img src="../static/pictures/binance(4).jpg" class="rounded-md h-36 w-72 hover:opacity-75" alt="">
        </div>
    </div>

    <div class="text-center mt-10">
        <a href=""><i class="fas fa-bullhorn mr-2"></i>Binance Staking Launches MIR Staking with Up to 34.79% APY</a>
    </div>

    <div class="w-4/5 shadow rounded-md my-4 md:ml-24 ml-8 pl-2">
        <div class="row mt-8 py-4 md:pl-4">
            <div class="col-4 col-md-3">
                <p class="text-sm text-gray-500">Name</p>
            </div>
            <div class="col-4 col-md-3 text-right px-8">
                <p class="text-xs md:text-sm text-gray-500">Last Price</p>
            </div>
            <div class="col-4 col-md-3 text-center px-4">
                <p class="text-xs md:text-sm text-gray-500">24h Change</p>
            </div>
            <div class="hidden md:block text-center pr-8 col-md-3">
                <p class="text-sm text-gray-500">Markets</p>
            </div>
        </div>
        <div class="row py-4 md:pl-4">
            <div class="col-4 col-md-3">
                <img src="../static/logo/BNB-icon.png" alt="" class="h-9 flex">
                <p class="text-lg ml-2">BNB <span class="block md:inline ml-1 pl-2 text-gray-400">BNB</span></p>
            </div>
            <div class="col-4 col-md-3 text-right px-8">
                <p class="text-xs md:text-xl">$557.12</p>
            </div>
            <div class="col-4 col-md-3 text-center px-4">
                <p class="text-xs md:text-xl text-gray-500">-6.44%</p>
            </div>
            <div class="hidden md:block text-center pr-8 col-md-3">
                <p class="text-sm text-gray-500">Chart unavailable</p>
            </div>
        </div>
        <div class="row py-4 md:pl-4">
            <div class="col-4 col-md-3">
                <img src="../static/logo/btc-logo .png" alt="" class="h-9 inline">
                <p class="inline text-lg ml-2">BTC<span class="ml-1 pl-2 text-gray-400">Bitcoin</span></p>
            </div>
            <div class="col-4 col-md-3 text-right px-8">
                <p class="text-xs md:text-xl">$557.12</p>
            </div>
            <div class="col-4 col-md-3 text-center px-4">
                <p class="text-xs md:text-xl text-gray-500">-6.44%</p>
            </div>
            <div class="hidden md:block text-center pr-8 col-md-3">
                <p class="text-sm text-gray-500">Chart unavailable</p>
            </div>
        </div>
        <div class="row py-4 md:pl-4">
            <div class="col-4 col-md-3">
                <img src="../static/logo/eth-logo.png" alt="" class="h-9 inline">
                <p class="inline text-lg ml-2">ETH<span class="ml-1 pl-2 text-gray-400">Ethereum</span></p>
            </div>
            <div class="col-4 col-md-3 text-right px-8">
                <p class="text-xs md:text-xl">$557.12</p>
            </div>
            <div class="col-4 col-md-3 text-center px-4">
                <p class="text-xs md:text-xl text-gray-500">-6.44%</p>
            </div>
            <div class="hidden md:block text-center pr-8 col-md-3">
                <p class="text-sm text-gray-500">Chart unavailable</p>
            </div>
        </div>
        <div class="row py-4 md:pl-4">
            <div class="col-4 col-md-3">
                <img src="../static/logo/xrp-xrp-logo.png" alt="" class="h-5 inline">
                <p class="inline text-lg ml-3">XRP<span class="ml-1 pl-2 text-gray-400">Ripple</span></p>
            </div>
            <div class="col-4 col-md-3 text-right px-8">
                <p class="text-xs md:text-xl">$557.12</p>
            </div>
            <div class="col-4 col-md-3 text-center px-4">
                <p class="text-xs md:text-xl text-gray-500">-6.44%</p>
            </div>
            <div class="hidden md:block text-center pr-8 col-md-3">
                <p class="text-sm text-gray-500">Chart unavailable</p>
            </div>
        </div>
        <div class="row py-4 md:pl-4">
            <div class="col-4 col-md-3">
                <img src="../static/logo/polkadot-logo.png" alt="" class="h-5 inline">
                <p class="inline text-lg ml-3">DOT<span class="ml-1 pl-2 text-gray-400">Polkadot</span></p>
            </div>
            <div class="col-4 col-md-3 text-right px-8">
                <p class="text-xs md:text-xl">$557.12</p>
            </div>
            <div class="col-4 col-md-3 text-center px-4">
                <p class="text-xs md:text-xl text-gray-500">-6.44%</p>
            </div>
            <div class="hidden md:block text-center pr-8 col-md-3">
                <p class="text-sm text-gray-500">Chart unavailable</p>
            </div>
        </div>
        <div class="row py-4 md:pl-4">
            <div class="col-4 col-md-3">
                <img src="../static/logo/ada-logo.png" alt="" class="h-9 inline">
                <p class="inline text-lg ml-2">ADA<span class="ml-1 pl-2 text-gray-400">Cardano</span></p>
            </div>
            <div class="col-4 col-md-3 text-right px-8">
                <p class="text-xs md:text-xl">$557.12</p>
            </div>
            <div class="col-4 col-md-3 text-center px-4">
                <p class="text-xs md:text-xl text-gray-500">-6.44%</p>
            </div>
            <div class="hidden md:block text-center pr-8 col-md-3">
                <p class="text-sm text-gray-500">Chart unavailable</p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col center">
                <a href="#" class="text-sm text-gray-500">View more markets ></a>
            </div>
        </div>
    </div>
    <div class="mt-20 ml-8 md:ml-24">
        <h2 class="font-extrabold text-2xl md:text-4xl py-2">Trade. Anywhere.</h2>
        <p class="py-2 text-gray-500">Compatible with multiple devices, start trading with safety and convenience</p>
    </div>

    <!-- Part not done-->
    <div>

    </div>
    <!-- End of comment-->

    <div class="mt-20 ml-8 md:ml-24">
        <h2 class="font-extrabold text-2xl md:text-4xl py-2">Get in touch. Stay in touch.</h2>
    </div>
    <div class="row px-8 mx-4 py-5 my-8">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="svg-container py-4 px-2">
                <img class="mr-auto ml-auto" src="../static/pictures/headset.png" alt="">
                <h3 class="text-center py-3 text-xl">24/7 Support</h3>
                <p class="text-sm text-center">Got a problem? Just get in touch. Our support team is available 24/7.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="svg-container py-4 px-2">
                <img class="mr-auto ml-auto" src="../static/pictures/paper.png" alt="">
                <h3 class="text-center py-4 text-xl">Binance Blog</h3>
                <p class="text-sm text-center">News and updates from the world’s leading cryptocurrency exchange.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="svg-container py-4 px-2">
                <img class="mr-auto ml-auto" src="../static/pictures/chat.png" alt="">
                <h3 class="text-center py-3 text-xl">Community</h3>
                <p class="text-sm text-center">Binance is global. Join the discussion in our worldwide communities.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="svg-container py-4 px-2">
                <img class="mr-auto ml-auto" src="../static/pictures/users.png" alt="">
                <h3 class="text-center py-3 text-xl">Careers</h3>
                <p class="text-sm text-center">Help build the future of technology. Start your new career at binance.</p>
            </div>
        </div>
    </div>
    <div class="row bottom-nav">
        <div class="row ml-auto mr-auto my-4 py-4">
            <div class="">
                <h2 class="text-white text-2xl md:text-4xl py-2 my-4">Start trading now</h2>
                <button type="button" class="btn px-4 py-2 font-semibold btn-sm btn-warning mx-2">Register Now</button>
                <button type="button" class="btn px-4 py-2 font-medium btn-sm btn-outline-warning mx-1">Trade Now</button>
            </div>
        </div>

        <div class="grid grid-cols-6 gap-2 ml-16 my-4 py-12 px-8">
            <div class="">
                <div class="text-white">About Us</div>
                <div class="text-gray-500">
                    <div><a href="">About</a></div>
                    <div><a href="">Careers</a></div>
                    <div><a href="">Business Contacts</a></div>
                    <div><a href="">Community</a></div>
                    <div><a href="">Binance Blog</a></div>
                    <div><a href="">Terms</a></div>
                    <div><a href="">Privacy</a></div>
                    <div><a href="">Announcements</a></div>
                    <div><a href="">News</a></div>
                </div>
            </div>
            <div>
                <div class="text-white">Products</div>
                <div class="text-gray-500">
                    <div><a href="">Exchange</a></div>
                    <div><a href="">Academy</a></div>
                    <div><a href="">BCF</a></div>
                    <div><a href="">Card</a></div>
                    <div><a href="">Labs</a></div>
                    <div><a href="">Launchpad</a></div>
                    <div><a href="">Research</a></div>
                    <div><a href="">Trust Wallet</a></div>
                </div>
            </div>
            <div>
                <div class="text-white">Service</div>
                <div class="text-gray-500">
                    <div><a href="">Downloads</a></div>
                    <div><a href="">Buy Crypto</a></div>
                    <div><a href="">Fees</a></div>
                    <div><a href="">Key Client Privileges</a></div>
                    <div><a href="">Referral</a></div>
                    <div><a href="">BNB</a></div>
                    <div><a href="">Buy BUSD</a></div>
                    <div><a href="">OTC Trading</a></div>
                    <div><a href="">Listing Application</a></div>
                    <div><a href="">Trading Rules</a></div>
                    <div><a href="">Fiat Gateway Application</a></div>
                    <div><a href="">P2P Merchant Application</a></div>
                    <div><a href="">Historical Market Data</a></div>
                </div>
            </div>
            <div>
                <div class="text-white">Support</div>
                <div class="text-gray-500">
                    <div><a href="">Give Us Fedback</a></div>
                    <div><a href="">Support Center</a></div>
                    <div><a href="">Submit a request</a></div>
                    <div><a href="">API Documentation</a></div>
                    <div><a href="">Binance Verify</a></div>
                </div>
            </div>
            <div>
                <div class="text-white">Learn</div>
                <div class="text-gray-500">
                    <div><a href="">Buy BNB</a></div>
                    <div><a href="">Buy Bitcoin</a></div>
                    <div><a href="">Buy Ethereum</a></div>
                    <div><a href="">Buy Litecoin</a></div>
                    <div><a href="">Buy Ripple</a></div>
                    <div><a href="">Buy Bitcoin Cash</a></div>
                    <div><a href="">Buy Dogecoin</a></div>
                    <div><a href="">Buy Defi</a></div>
                </div>
            </div>
            <div>
                <div class="text-white">Community</div>
                <div class="text-gray-500 text-lg">
                    <a class="mx-1 px-1" href=""><i class="fab fa-telegram"></i></a>
                    <a class="mx-1 px-1" href=" "><i class="fab fa-facebook "></i></a>
                    <a class="mx-1 px-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="mx-1 px-1" href=" "><i class="fab fa-reddit "></i></a>
                    <a class="mx-1 px-1" href=""><i class="fab fa-instagram"></i></a>
                    <a class="mx-1 px-1" href=" "><i class="fab fa-youtube "></i></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>